<%= render 'loader' %>

  <div class="header__container">
  </div>

    <% @places.each do |place| %>
      <%= render 'place_modal', place: place %>
    <% end %>

    <div class="map">
      <div class="map-inner">
        <% @places.each.with_index do |place, index| %>
          <%= link_to('#', {style:"left: #{place.xpos}%;top: #{place.ypos}%;", class:"md-trigger place-link delay-#{index}", data: {modal: 'modal-1', target: "##{place.title}", youtube: "#{place.youtube_link}"}}) do %>
            <% if mobile_device? %>
              <%= image_tag(place.image_file_name+'.png') %>
            <% else %>
              <%= image_tag(place.image_file_name+'@2x.png') %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
<section id="about-the-book">
  <div class="container">
    <header class="section__header">
      À propos du livre
    </header>
  </div>
  <div class="quote__container">
    <p class="quote__content">
      "Rythmé par une bande son en or, ce livre transporte."
    </p>
    <p class="quote__author">
      le Bonbon
    </p>
  </div>
  <div class="container">
    <div class="row story__container">
      <div class="story__book col-md-3">
        <%= image_tag('livre-pliage.jpg') %>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <p class="story__text">
          Demande à la nuit vous plonge au coeur de la nuit 
          berlinoise et du nouvel âge d'or que connait la techno. 
          Un "journal musical" à l'écriture charnelle et incisive, rythmé par une soixantaine de morceaux.
          Le portrait d'une génération qui se trouve dans la fête. 
        </p>
        <p class="story__find-it">
          Disponible en librairies, ebook ou sur commande à www.lavillebrule.com
        </p>
      </div>
    </div>
    <div class="row author__container">
      <div class="col-md-6 col-md-offset-1 author__left-block">
        <p class="author__title">
          l'auteure
        </p>
        <p class="author__bio">
          Anne Laure Jaeglé, passionnée de musique, organisatrice de soirées et de raves clandestines, vit à Berlin. 
          Demande à la nuit est son premier roman. 
        </p>
      </div>
      <div class="col-md-4 author__photo">
        <%= image_tag('anne-laure.jpg') %>
      </div>
    </div>
</section>
<footer class="footer">
  <p class="footer__text">Tous droits réservés. Texte et illustrations d'Anne Laure Jaeglé. Conception Web par Axel Rigaud.</p>
</footer>
<%= javascript_include_tag :frontend %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47225573-5', 'auto');
  ga('send', 'pageview');

</script>
