<div class="map">
  <div class="map-inner">
    <% @places.each do |place| %>
    <%= link_to place.title, '', {style:"left: #{place.xpos}%;top: #{place.ypos}%;", class:"place-link", data: {toggle: 'modal', target: "##{place.title}-modal"}} %>

    <div class="modal fade" id="<%=place.title%>-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= place.tagline %></h4>
          </div>
          <div class="modal-body">
            <p>
              <%= place.description %>
            </p>
            <iframe width="560" height="315" src="http://www.youtube.com/embed/<%= place.youtube_link %>" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <% end %>
  </div>
</div>

