<!DOCTYPE html>
<html>
<head>
  <title>Demandealanuit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= render 'loader' %>

  <div class="header__container">
  	<div class="header__title">
  		<a href="#" class="header__anchor" data-target="#about-the-book">Demande à la nuit</a>
  	</div>
    <div class="header__speaker">
      <%= render 'speaker' %>
    </div>
  </div>
      <% @places.each do |place| %>


    <%= render 'place_modal', place: place %>

    <% end %>
  <%= render 'welcome_modal' %>
  <%= render 'about_modal' %>

<%= yield %>

<div class="md-overlay"></div>
<div id="player"></div>
</body>
</html>
