<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @place.tagline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Youtube link:</strong>
  <%= @place.youtube_link %>
</p>

<%= link_to 'Edit', edit_backend_place_path(@place) %> |
<%= link_to 'Back', backend_places_path %>
